APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost/pc-gear-store/backend/public

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=pcgear_store
DB_USERNAME=root
DB_PASSWORD=

JWT_SECRET=change_this_secret_before_deploy
